.parrafo1{
text-align: left;
}
.parrafo2{
text-align: center;
}
.parrafo3{
text-align: right;
}
.parrafo4{
margin-left: 25px;
margin-right: 25%;
}
.parrafo5{
margin-top: 40px;
}
.parrafo6{
    margin: 10%;
}